#  django settings
DJANGO_SETTINGS_MODULE='config.settings.local'
DJANGO_SECRET_KEY=
DJANGO_DEBUG='True'
ENVIRONMENT='local'
SITE_ID=1

CORS_ALLOWED_ORIGINS
CSRF_TRUSTED_ORIGINS=

# Database
DB_NAME=""
DB_USER="postgres"
DB_PASSWORD=
DB_HOST="localhost"
DB_PORT="5432"

# Email
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_FROM=

FRONTEND_CONFIRM_EMAIL_URL=http://localhost:5173/users/confirm-email/


PINECONE_API_KEY =
PINECONE_INDEX_NAME =
OPENAI_API_KEY =
CLAUDE_API_KEY =

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

SENTRY_DSN=

WEAVIATE_HOST=localhost
WEAVIATE_PORT=8080
WEAVIATE_COLLECTION_NAME=Document
WEAVIATE_SKIP_INIT_CHECKS=True
